#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#quote{
  text-shadow: 1px 1px black;
  background-color: rgba(100, 100, 100, .1);
  color: white;
}
.quotequote{
  font-size: 2rem;
  color: white;
}

.quotequote2{
  font-size: 1rem;
  color: white;
}

#weather{
  text-shadow: 1px 1px black;
  color: white;
}

.card {
  text-shadow: 1px 1px black;
  background-color: rgba(100, 100, 100, .1);
  color: white;
}

.btn{
  text-shadow: 1px 1px black;
  background-color: rgba(100, 100, 100, .1);
  color: greenyellow;
}
#txt {
  text-shadow: 1px 1px black;
  background-color: rgba(100, 100, 100, .1);
  color: white;
  font-size: 3rem;
}